.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__left {
  flex: 0.5;
  background-color: white;
  color: gray;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.header__left > input {
  border: none;
  width: 100%;
}

.header__right {
  display: flex;
  align-items: center;
  border-radius: 99px;
  background-color: #000000;
  border: none;
  color: black;
  padding: 2px 8px;
}

.header__right > h4 {
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #ddd;
}
