.player__body {
    display: flex;
    font-family: 'Roboto';
}

.bienvenidos {
    font-family: 'Roboto';
    font-size: 80px;
    letter-spacing: -1.6px;
    word-spacing: 6px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    }

.parrafo_style {

    font-family: 'Roboto';

    font-family: Arial, Helvetica, sans-serif;

    text-align:justify;
    font-size: 30px;
}

.inicio_list {

    font-family: 'Roboto';
    font-family: Arial, Helvetica, sans-serif;

    font-size: 20px;
}

.datos_contacto {

    font-family: 'Roboto';
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "area-1 . area-2 . area-3"
      ". . . . .";
  }
  
  .area-1 { grid-area: area-1; }
  
  .area-2 { grid-area: area-2; }
  
  .area-3 { grid-area: area-3; }
  
  