.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url("C:\Users\Carola\Desktop\wildora-main\wildora-main\src\img\guitar-1245856.jpg");
  }
  
.login > Button,
Button ::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

Button::before,
Button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

Button:hover {
  color: #2ecc71;
}


.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-1:hover:after {
  height: 100%;
}
  .login > h1 {
    color: white;
    font-family: 'Staatliches';
    letter-spacing: 25px;
    font-size: 150px;
  }